.navigation-info {    
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    right: 20px;    
    position: fixed;
    top: 130px;  
    width: 270px;  
    height: auto;
    max-height: 500px;
    z-index: 999;
    overflow-y: scroll;
}

.navigation-info .toast {
    opacity: 1;
}